<?xml version="1.0" ?>

<launch>
        <arg name="model" />
        <arg name="gui" default="Ture" />
        <param name="robot_description" command="$(find xacro)/xacro $(find bunker_11)/urdf/bunker_11_i5.urdf.xacro" />
        <param name="use_gui" value="$(arg gui)"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find bunker_7)/urdf.rviz" />
</launch>

